@import "~antd/dist/antd.css";

* {
  transition: all 0.3 ease;
}

body {
  background-color: #333;
}

.ant-select-multiple .ant-select-selection-item {
  height: 27px;
}

.ant-radio {
  display: none;
}

.ant-radio-wrapper-checked {
  color: #1890ff;
  font-weight: bold;
  span {
    border-bottom: 1px solid;
    padding: 0;
  }
}

.ant-radio-wrapper {
  span {
    margin-right: 20px;
    padding: 0;
  }
}

//animation scrollbar css
.scroll {
  padding-right: 5px;
}

.scroll::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(255, 255, 255, 0.25);
  padding-right: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #50a1ec;
  border-radius: 8px;
}

.error {
  width: 100%;
  text-align: center;
  font-style: italic;
  color: red;
}
